footer
{
	gap: 10px;
    text-align: justify;
    padding: 0px;
    border-top: 2px solid black;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}


#espaco
{
	display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;

}

#rodape
{
	padding-top: 2%;
	align-items: center;
	width: 100%;
}
